@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Trang Dashboard</h3>
    </div>
    <div class="card-body">
        Nội dung Index.cshtml trong Home.
    </div>
</div>
